* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/login.jpg');
   
}
.register h1{
    color:rgb(193, 193, 193);
    position: relative;
    left: 35vw;
    top: 18vh;

}
.register input{
    width: 20vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    margin:5px;
    position: relative;
    top: 18vh;
    left: 36vw;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
   color:rgb(198, 198, 198);
   font-weight: bold;
   font-style: italic;
   background-color: black;
   font-size: large;
}
.register input:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: none;
}
.register button{
    width: 17vw;
    height: 5vh;
    position: relative;
    top: 15vh;
    left: 36vw;
    background-color: red;
    color:black;
    outline: none;
    box-shadow: none;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    border: 1px solid black;
}
.register h2{
    color:rgb(193, 193, 193);
    position: relative;
    top: 18vh;
    left: 37vw;

}
.register .login{
     color:red;
    position: relative;
    top: 15vh;
    left: 52vw;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.register h3{
    color:red;
    position: relative;
    top: 20vh;
    left: 41vw;
    font-size: x-large;
    font-weight: bold;
}
body{
    overflow: hidden;
}
.register span{
    color: white;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 13vh;
    left: 57vw;
}
.register .confirm{
    width: 20vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    margin:5px;
    position: relative;
    top: 14vh;
    left: 36vw;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
   color:rgb(198, 198, 198);
   font-weight: bold;
   font-style: italic;
   background-color: black;
   font-size: large;
}
.register .confirmpass{
    color: white;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 9vh;
    left: 57vw;
}
.register h4{
    color:red;
    position: absolute;
    top: 35vh;
    left: 58vw;
    font-size: x-large;
    font-weight: bold;
}